/* style.css */

#pageTitle {
    text-align: center;
    background-color:rgb(253, 186, 41);
    width: 100%;
    color: white;
    font-size: 75px;
    padding: 15px;
    font-family: 'Comfortaa', cursive;
}

#queryForm {
    text-align: center;
    background-color: rgb(253, 186, 41);
    width: 100%;
    padding-bottom: 10px;
}

.search {
    padding: 0%;
}

.search input {
    vertical-align: middle;
}

#foodButtons {
    text-align: center;
    background-color:rgb(253, 186, 41);
}

#giphyShow {
    background-image: url(../images/abstract-art-cooking-262896.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gifPres {
    margin: 5%;
    background-color:rgba(255, 255, 255, .6);
}

.buttonStyle {
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}