/* style.css */

#pageTitle {
    text-align: center;
    background-color: blueviolet;

}

#queryForm {
    text-align: center;
    background-color: blue;
}

#foodButtons {
    text-align: center;
    background-color: aqua;
}