/* style.css */

#pageTitle {
    text-align: center;
    background-color: rgba(15, 70, 208, 0.75);
  width: 100%;
  color: white;
  font-size: 75px;
padding: 15px;
font-family: 'Comfortaa', cursive;
}

#queryForm {
    text-align: center;
    background-color: rgba(15, 70, 208, 0.75);
    width: 100%;
   padding-bottom: 10px;
}

.search {
    padding: 0%;
}

.search input {
    vertical-align: middle;
}

#foodButtons {
    text-align: center;
    background-color: rgba(15, 70, 208, 0.75);
}

#giphyShow {
    background-color: rgba(15, 70, 208, 0.20);
}

.gifPres {
    margin: 5%;
}

.buttonStyle {
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}